<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3></h3>
                <h1>Hi there, I'm Sørn.</h1>
                <h3>I do statistics and background research for people.</h3>
                <h5>More Lorem Ipsum added here too.</h5>				
            </div>
            <!--<div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>-->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->