<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3></h3>
                <h1>Hi there, I'm Søren.</h1>
                <h3>I work on Information Management, Statistics, and Medical Research.</h3> 
                <h4>This page is still under construction.</h4>
                <h4>Clearly.</h4>				
            </div>
            <!--<div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>-->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
